- MongoDB 是目前最流行的 NoSQL 数据库之一
- Mac上使用mongo数据库: 
    - brew tap mongodb/brew
    - brew install mongodb-community@4.4
    - brew services start mongodb-community@4.4 //启动服务
    - brew services stop mongodb-community@4.4 //停止服务

数据库连接、创建/删除；表/集合的创建；表的索引/主键，插入/删除数据

In [13]:
import pymongo

In [15]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/") # 指定连接的 URL 地址

In [18]:
# myclient.drop_database('runmydb') # 删除数据库
# myclient.list_database_names()

['admin', 'config', 'local']

In [19]:
mydb = myclient["runmydb"] # 指定要创建的数据库名
# 在 MongoDB 中，数据库只有在内容插入后才会创建! 就是说，数据库创建后要创建集合(数据表)并插入一个文档(记录)，数据库才会真正创建

In [20]:
# myclient.list_database_names()

['admin', 'config', 'local']

In [21]:
# mycol = mydb["sites"] # 创建集合
# mydict = {'price': 65, 'fname': 'apple'}
# x = mycol.insert_one(mydict) # 插入集合 返回 InsertOneResult 对象，该对象包含 inserted_id 属性，它是插入文档的 id 值
# print(x)
# print(x.inserted_id)
# myclient.list_database_names()

<pymongo.results.InsertOneResult object at 0x7f840dbc1230>
5f9fa8d41972147aec0a3a12

['admin', 'config', 'local', 'runmydb']

In [22]:
# print([x for x in dir(mycol) if 'index' in x])

['_Collection__create_indexes', 'create_index', 'create_indexes', 'drop_index', 'drop_indexes', 'ensure_index', 'index_information', 'list_indexes', 'reindex']

In [25]:
# mycol.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)]}}

In [37]:
mycol = mydb["sites"]
mycol.create_index([('price', 1), ('fname', 1)], unique = True) # 1 为指定按升序创建索引，也可以用pymongo.ASCENDING代替。如果你想按降序来创建索引，则指定为 -1 或 pymongo.DESCENDING
# mycol.drop_index([('price', 1), ('fname', 1)])

'price_1_fname_1'

In [38]:
mycol.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)]},
 'price_1_fname_1': {'v': 2,
  'unique': True,
  'key': [('price', 1), ('fname', 1)]}}

In [44]:
# mylist = [
#   { 'price': 65, 'fname': 'apple'},
#   { 'price': 60, 'fname': 'apple'},
#   { 'price': 70, 'fname': 'pear'},
#   { 'price': 50, 'fname': 'banana'},
#   { 'price': 45, 'fname': 'pear'}
# ]
# x = mycol.insert_many(mylist) # 插入多个文档 返回 InsertManyResult 对象，该对象包含 inserted_ids 属性，该属性保存着所有插入文档的 id 值
# print(x)
# print(x.inserted_ids)

<pymongo.results.InsertManyResult object at 0x7f840eddb0a0>
[ObjectId('5f9fb2a51972147aec0a3a1d'), ObjectId('5f9fb2a51972147aec0a3a1e'), ObjectId('5f9fb2a51972147aec0a3a1f'), ObjectId('5f9fb2a51972147aec0a3a20'), ObjectId('5f9fb2a51972147aec0a3a21')]

In [35]:
# mycol.delete_one({'price': 65, 'fname': 'apple'})

In [41]:
# x = mycol.delete_many({})

In [42]:
# print(x.deleted_count, "个文档已删除")

5 个文档已删除

In [45]:
print(mydb.sites.find())
list(mydb.sites.find())

<pymongo.cursor.Cursor object at 0x7f840f769a50>

[{'_id': ObjectId('5f9fb2a51972147aec0a3a1d'), 'price': 65, 'fname': 'apple'},
 {'_id': ObjectId('5f9fb2a51972147aec0a3a1e'), 'price': 60, 'fname': 'apple'},
 {'_id': ObjectId('5f9fb2a51972147aec0a3a1f'), 'price': 70, 'fname': 'pear'},
 {'_id': ObjectId('5f9fb2a51972147aec0a3a20'), 'price': 50, 'fname': 'banana'},
 {'_id': ObjectId('5f9fb2a51972147aec0a3a21'), 'price': 45, 'fname': 'pear'}]

In [46]:
# from pymongo.errors import DuplicateKeyError
# try:
#     mycol.insert_one({'price': 65, 'fname': 'apple'})
# except DuplicateKeyError as e:
#     print(e)

E11000 duplicate key error collection: runmydb.sites index: price_1_fname_1 dup key: { price: 65, fname: "apple" }, full error: {'index': 0, 'code': 11000, 'keyPattern': {'price': 1, 'fname': 1}, 'keyValue': {'price': 65, 'fname': 'apple'}, 'errmsg': 'E11000 duplicate key error collection: runmydb.sites index: price_1_fname_1 dup key: { price: 65, fname: "apple" }'}

In [47]:
mycol2 = mydb["sites2"] 
# mylist2 = [
#   {'source': {'fname': 'apple', 'location': 'fujian'}, 'price': 65, 'stock': 30},
#   {'source': {'fname': 'apple', 'location': 'beijing'}, 'price': 55, 'stock': 40},
#   {'source': {'fname': 'pear', 'location': 'fujian'}, 'price': 70, 'stock': 30},
#   {'source': {'fname': 'banana', 'location': 'taiwan'}, 'price': 65, 'stock': 50},
#   {'source': {'fname': 'orange', 'location': 'taiwan'}, 'price': 70, 'stock': 20}
# ]
# mycol2.insert_many(mylist2)
mydb.list_collection_names()

['sites2', 'sites']

In [49]:
# mycol2.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)]}}

In [50]:
mycol2.create_index([('source.fname', 1), ('source.location', 1)], unique = True)

'source.fname_1_source.location_1'

In [51]:
mycol2.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)]},
 'source.fname_1_source.location_1': {'v': 2,
  'unique': True,
  'key': [('source.fname', 1), ('source.location', 1)]}}

In [52]:
# from pymongo.errors import DuplicateKeyError
# try:
#     mycol2.insert_one({'source': {'fname': 'apple', 'location': 'fujian'}, 'price': 66, 'stock': 33})
# except DuplicateKeyError as e:
#     print(e)

E11000 duplicate key error collection: runmydb.sites2 index: source.fname_1_source.location_1 dup key: { source.fname: "apple", source.location: "fujian" }, full error: {'index': 0, 'code': 11000, 'keyPattern': {'source.fname': 1, 'source.location': 1}, 'keyValue': {'source.fname': 'apple', 'source.location': 'fujian'}, 'errmsg': 'E11000 duplicate key error collection: runmydb.sites2 index: source.fname_1_source.location_1 dup key: { source.fname: "apple", source.location: "fujian" }'}

查询

In [53]:
mycol2.find_one()

{'_id': ObjectId('5f9fb39b1972147aec0a3a23'),
 'source': {'fname': 'apple', 'location': 'fujian'},
 'price': 65,
 'stock': 30}

In [54]:
# for x in mycol2.find({},{ "_id": 0, "source.fname": 1, "price": 1 }): # 将要返回的字段对应值设置为 1
#     print(x)

{'source': {'fname': 'apple'}, 'price': 65}
{'source': {'fname': 'apple'}, 'price': 55}
{'source': {'fname': 'pear'}, 'price': 70}
{'source': {'fname': 'banana'}, 'price': 65}
{'source': {'fname': 'orange'}, 'price': 70}

In [55]:
# for x in mycol2.find({'price': 65}): 
#     print(x)

{'_id': ObjectId('5f9fb39b1972147aec0a3a23'), 'source': {'fname': 'apple', 'location': 'fujian'}, 'price': 65, 'stock': 30}
{'_id': ObjectId('5f9fb39b1972147aec0a3a26'), 'source': {'fname': 'banana', 'location': 'taiwan'}, 'price': 65, 'stock': 50}

In [56]:
# for x in mycol2.find({'price': {'$gt': 65}}): 
#     print(x)

{'_id': ObjectId('5f9fb39b1972147aec0a3a25'), 'source': {'fname': 'pear', 'location': 'fujian'}, 'price': 70, 'stock': 30}
{'_id': ObjectId('5f9fb39b1972147aec0a3a27'), 'source': {'fname': 'orange', 'location': 'taiwan'}, 'price': 70, 'stock': 20}

In [63]:
# for x in mycol2.find({'price': {'$exists': 1}}):  # 存在
#     print(x)
# # mycol2.insert_one({'source': {'fname': 'berry', 'location': 'fujian'}, 'stock': 70})
# print("inserted")
# for x in mycol2.find({'price': {'$exists': 0}}):  # 不存在
#     print(x)

{'_id': ObjectId('5f9fb39b1972147aec0a3a23'), 'source': {'fname': 'apple', 'location': 'fujian'}, 'price': 65, 'stock': 30}
{'_id': ObjectId('5f9fb39b1972147aec0a3a24'), 'source': {'fname': 'apple', 'location': 'beijing'}, 'price': 55, 'stock': 40}
{'_id': ObjectId('5f9fb39b1972147aec0a3a25'), 'source': {'fname': 'pear', 'location': 'fujian'}, 'price': 70, 'stock': 30}
{'_id': ObjectId('5f9fb39b1972147aec0a3a26'), 'source': {'fname': 'banana', 'location': 'taiwan'}, 'price': 65, 'stock': 50}
{'_id': ObjectId('5f9fb39b1972147aec0a3a27'), 'source': {'fname': 'orange', 'location': 'taiwan'}, 'price': 70, 'stock': 20}
inserted
{'_id': ObjectId('5f9fb70e1972147aec0a3a29'), 'source': {'fname': 'berry', 'location': 'fujian'}, 'stock': 70}

聚合查询

In [ ]:
# mongo
# 索引信息  index_information()  返回一个字典 key是索引的名称 value是包含每个索引信息的字典
import pymongo
# pynongo.MongoClient()/连接MongoDB   后接数据库名，再接集合名(类似于关系型数据库中的表)
# 插入 insert_one(dict)
# 查询 find_one(dict) 或 find() /返回一个 curcor对象 /生成器  如find({'age': {'$gt': 20}})      
# 更新 UpdataOne+bulk_write 
# 排序sort
# 偏移 skip(offset) /忽略前offset个元素    
# 数量限制 limit   
# 计数 count 或 count_documents
# 聚合 
## 首先需要区分版本：pymongo.version.startswith('2.') 对应r = list(r['result']) 否则 对应 r = list(r)
## $match  ｜  $group   ｜